.box1,.box2,.box2,.box3,.box4,.box5{
    border: 2px solid black;
    padding: 20px;
    width: 50px;
  }
.box1 {
    margin-left: -300px;
    margin-top: 60px;
  }
  .box2 {
    margin-left: -100px;
    margin-top: 60px;
  }
  .box3 {
    margin-left: 100px;
    margin-top: 60px;
  }
  .box4 {
    margin-left: 300px;
    margin-top: 60px;
  }
  .box5{
    margin-left: 500px;
    margin-top: 60px;
  }
  .box1:hover{
    background-color: red;
  }
  .box2:hover{
    background-color: violet;
  }
  .box3:hover{
    background-color: aqua;
  }
  .box4:hover{
    background-color: brown;
  }
  .box5:hover{
    background-color: green;
  }
  .e1{
    margin-left: -300px;
    margin-bottom: -62px;
  }